<launch>

 <node pkg="qtgui" type="qtgui" name="qtgui" cwd="node" required="true" output="screen"/>
 <node pkg="semantic_mapping_app" type="main" name="semantic_mapping_app" cwd="node" required="false" output="screen"> 


    <!--<param name="controller/mesh_filename"                                 value="/work/kidson/meshes/cabinet_scan_2/mesh_1.ply" />-->
    <param name="controller/mesh_registration_images_directory"            value="/work/kidson/meshes/cabinet_scan_2/KinFuSnapshots" />
    <param name="controller/mesh_registration_transformations_directory"   value="/work/kidson/meshes/cabinet_scan_2/KinFuSnapshots" />
    <param name="controller/mesh_filename"            value="/media/bigguy/work/meshes/cabinet_scan_2/mesh_1.ply" />

    <param name="controller/ROI_origin_x" value="0.9"/>
    <param name="controller/ROI_origin_y" value="0.8"/>
    <param name="controller/ROI_origin_z" value="0.01"/>
    <param name="controller/ROI_size_x" value="0.95"/>
    <param name="controller/ROI_size_y" value="0.6"/>
    <param name="controller/ROI_size_z" value="1.8"/>

    <param name="floor_axis_alignment/angle" value="-90" />
    <param name="floor_axis_alignment/axis_to_rotate_about" value="0" />

</node>

</launch>
